body {
    font-family: "Roboto", sans serif;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1,3125;
}

.webstudio {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    background-color: #FFFFFF;
 }

.navbar .link {
    color: #2E2F42;
    line-height: 1,5;
}

.navbar .link:hover,
.navbar .link:focus {
    color: #404BBF;
    line-height: 1,5;
}

.address .link {
    color: #434455;
    line-height: 1,5;  
    text-decoration: none;
}

.address .link:hover,
.address .link:focus {
    color: #404BBF;
}

.firstsection {
    background-color: #2E2F42;
    text-align: center;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1,071;
    color: #FFFFFF;
}

.buttontext {
    color: #FFFFFF;
    background-color: #4D5AE5;
    line-height: 1,5px;
    cursor: pointer;
}

h3 {
    font-size: 20px;
    line-height: 1,2;
    color: #2E2F42;
}

.content {
    line-height: 24px;
    color: #434455;
    letter-spacing:0.02em;
}

.thirdsection {
    background-color: #F4F4FD;
    text-align: center;
}

h2 {
    font-size: 36px;
    line-height: 1,111;
    color: #2E2F42;
    font-weight: 700;
}

.ourteam {
    list-style: none;
}

.ourteam .name {
    font-size: 20px;
    line-height: 1,2;
    color: #2E2F42;
}

.ourteam .position {
    font-size: 16px;
    line-height: 1,5;
    color: #435544;
}

.fourthsection {
    text-align: center;
}

.portfolio {
    list-style: none;
}

.portfolio .work {
    font-size: 20px;
    line-height: 1,2;
    color: #2e4230;
}

.portfolio .type {
    font-size: 16px;
    line-height: 1,5;
    color: #435544;
}

footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.webstudio2 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
}

.aim {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
}