* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans serif;
    color: #2E2F42;
    background-color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    
}

.container {
    width: 1158px;
}

.page-header {
    width: 1440px;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;

    border-bottom: 1px;
    border-color: #E7E9FC;
}


.webstudio {
    display: flex;
    gap: 0px;
    height: 24px;
    width: 115px;
}

.web {
    
    color: #4D5AE5;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    width: 44px;
    height: 21px;
    text-decoration: none;
    letter-spacing: 3%;
    /* letter-spacing: 3%;  ----> Neden çalışmıyor? */
 }

 .studio {
    color: #2E2F42;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    width: 71px;
    height: 21px;
    text-decoration: none;
    letter-spacing: 3%;
     /* letter-spacing: 3%;  ----> Neden çalışmıyor? */
 }

.menu {
    display: flex;
    gap: 40px;
    list-style: none;
    height: 24px;
    width: 261px;
    
}

.menu .link {
    display: block;
    color: #2E2F42;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    color: #404BBF;
    line-height: 1,5;
    text-decoration: none;
}

.address {
    display: flex;
    gap: 40px;
        
}

.address .link {
    color: #434455;
    text-decoration: none;
    font-style: normal;
}

.address .link:hover,
.address .link:focus {
    color: #404BBF;
}

.firstsection {
    padding: 188px 472px 292px;
    position: absolute;
    width: 1440px;
    height: 600px;
    background: #2E2F42;
}

h1 {
    width: 496px;
    height: 120px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1,0714;
    color: #FFFFFF;
    
    position: absolute;
    font-style: normal;
    text-align: center;
    letter-spacing: 0.02em;
}

.buttontext {
    color: #FFFFFF;
    background-color: #4D5AE5;
    line-height: 1,5px;
    cursor: pointer;

    display: flex;
    padding: 16px 32px;
    position: absolute;
    left: 636px;              /* left ve top olarak kullanmak doğru mu? Derslerde yoktu?*/
    top: 428px;

    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    
    box-shadow: 0px 4px 4px 0px #00000026;
    border-radius: 4px;
 
}

.buttontext:hover {
    background-color: #404BBF;
}

.secondsection {
    width: 1440px;
    height: 344px;
}

.subjects{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 120px 0px 156px;
    
    width: 264px;               /* tasarıma width:1128px ve height:104px, fakat bu değerler bozuyor?*/
    height: 72px;

    left: 156px;                /* left ve top olarak kullanmak doğru mu? Derslerde yoktu?*/
    top: 792px;

    flex-direction: column;
    position: absolute;        /*Absolute anlaşılmadı, bakılacak?*/
    list-style: none;
     
}

.item h3 {
    font-size: 20px;
    line-height: 1,2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.item p {
    font-size: 16px;
    line-height: 24px;
    color: #515543;
    letter-spacing:0.02em;
}

.thirdsection {
    display: flex;
    background-color: #F4F4FD;
    text-align: center;
    width: 1440px ;
    height: 732px;

    position: absolute;
        
    left: 0px;
    top: 1016px;

}

h2 {
    
    font-size: 36px;
    line-height: 1,111;
    color: #2E2F42;
    font-weight: 700;
    padding: 120px 639px 0px;
    text-align: center;
    letter-spacing: 0.02em;
    justify-content: center;

}

.ourteam {
    display: flex;
    list-style: none;
   
    gap: 32px;
    padding: 232px 156px 120px;
    position: absolute;
    justify-content: center;

}

.ourteam .name {
    font-size: 20px;
    line-height: 1,2;
    color: #2E2F42;
}

.ourteam .position {
    font-size: 16px;
    line-height: 1,5;
    color: #435544;
}

.fourthsection {
    display: flex;
    text-align: center;
}

.portfolio {
    display: flex;
    list-style: none;
}

.portfolio .work {
    font-size: 20px;
    line-height: 1,2;
    color: #2e4230;
}

.portfolio .type {
    font-size: 16px;
    line-height: 1,5;
    color: #435544;
}

footer {
    display: flex;
    background-color: #2E2F42;
    color: #F4F4FD;
}

.webstudio2 {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    color: #F4F4FD;
}

.aim {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,5;
}